#card{
    background-color: rgb(223, 227, 227);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#form{
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
}

#label{
    font-size: large;
}

#select1, #select2{
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#submit{
    color: blanchedalmond;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    background-color: rgb(85, 0, 165);
    font-size: large;
    border-radius: 10px;
}
